a:focus { 
    outline: none; 
}

.btn {
    font-weight: bold;
    color: $negative-color;
    background: $color1;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 20px;
    @include anima(0.3s);
    margin-bottom: 2px;
    &:hover {
        background: #000000;
        color: $negative-color;
    }
}

.btn-default {
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $color1 - #222!important;
    color: $negative-color;
    font-weight: bold;
    text-transform: uppercase;
    @include border-radius(0);
    @include anima(0.3s);
    border: 0px solid transparent!important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        @include anima(0.3s);  
        background: $color2;
        z-index: -1;
    }
    &:hover {
        //background: transparent!important;
        color: $negative-color;
        border: 0px solid transparent!important;
        &:before {
        width: 100%;
        }
    }
}

.btn-default3 {
    background: $color3;
    color: $negative-color;
    border: 0;  
    text-transform: uppercase;
    &:hover {
        background: $color1 - #111;
        color: $negative-color;
        @include anima(0.3s);
    }
}

.btn-default2 {
    font-size: 9px;
    background: $color2;
    font-weight: lighter;
}

.btn-nobg {
    background-color: transparent;
    border: 1px solid $color2;
    @include border-radius(0);
    @include anima(0.3s);
    font-size: 18px;
    height: 46px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $color2;
    &:hover {
        background: $color2;
        color: $negative-color;
    }
}

iframe {
    width: 100%;
}

.btn-fluid {
    width: 100%;
}
