.section-home {
    z-index: 88;
    opacity: 1;
    overflow-y: auto;
}

.vcard-profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden; 
    margin: 0 auto; 
    margin-bottom: 20px;
    position: relative;
    img {
        width: 100%; 
        @include border-radius(100%);   
        border: 6px solid #ddd;
        @include anima(0.6s);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

.profileActive {
    opacity: 1!important;
}

.vcard-profile-description {
    text-align: center;
}

.profile-title {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: $color2;
}

.profile-subtitle{
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vcard-profile-description-text {
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    p {
        font-size: 13px;
    }
}

.hr1 {
    border: none;
    height: 1px;
    width: 100%;
    background: url('/img/hr1.png') no-repeat center center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vcard-profile-description-ft-item {
    margin-bottom: 15px;
    @include border-radius(5px);
    padding: 10px;
    background: url('/img/bg-btn.png') no-repeat center center $color1;
    p {
        margin-bottom: 0;
        color: $negative-color;
        font-size: 12px;
    }
}
