.owl-carousel .owl-item  {
    cursor: -webkit-grab; cursor: -webkit-grab;
    &:focus {
        cursor: -webkit-grabbing; cursor: -moz-grabbing;
    }
    &:active {
        cursor: -webkit-grabbing; cursor: -moz-grabbing;
    }
    img {
        width: 100%;
    }
}

.grabbing { 
    cursor: -webkit-grabbing!important; cursor: -moz-grabbing!important;
}

.owl-controls-wrapper2 {
    &:hover {
        .owl-controls {
        opacity: 1;
        }
    }
    .owl-controls {
        opacity: 0.4;
        @include anima(0.3s);
        width: 100%;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgba(0, 0, 0, 0.4);
        color: $negative-color!important;
        @include border-radius(0 0 20px 20px);
        a {
        color: $negative-color!important;
        }
        .owl-page {
        background-color: $negative-color;
        }
        .owl-page.active {
        background: $color2;
        }
    }
    .owl-pagination, .owl-buttons {
        width: 50%;
        float: left;
    }
    .owl-buttons {
        text-align: right;
        > div {
        display: inline-block;
        margin-left: 5px;
        @include anima(0.3s);
        font-size: 14px;
        &:hover {
            color: $color2;
        }
        }
    }
    .owl-mtop .owl-wrapper-outer {
        padding-top: 40px;
    }
    .owl-wrapper-outer {
        position: relative;
    }
    .owl-controls {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    } 
    .owl-controls .owl-page {
        cursor: pointer;
        width: 8px;
        height: 8px;
        @include border-radius(100%);
        margin-right: 3px;
        display: inline-block;
        background: #333;
        @include anima(0.3s);
        &:hover {
        opacity: 0.8;
        }
    }
    .owl-controls .owl-page.active {
        background: $color2;
    }
}

.owl-pagination {
    .owl-page {
        span {
            background: $color2;
        }
    }
    .active {
        span {
            background: $color2!important;
        }
    }
}
