.section-education {
    margin-bottom: 40px;
}

.resume-buttons {
    margin-bottom: 30px;
}

.header-page-buttons {
    margin-top: -20px;
}

.page-footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.footer-quote {
    color: #444;
    font-size: 11px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.testimonials {
    text-align: center;
    font-size: 18px;
}

.testimonial-item {
    //max-width: 700px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: $tablet) {
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.quote-text {
    font-style: italic;
}

.testimonial-credits {
    margin-top: 30px;
}

.testimonial-author {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
    //text-transform: uppercase;
}

.testimonial-content {
    background: url('/img/bgmask2.png') no-repeat center center $color1;
    color: $negative-color;
    padding: 20px;
    @include border-radius(10px);
    width: 100%;
    position: relative;
    p {
        font-size: 13px;
        line-height: 16px;
    }
    &:after {
        content:'';
        display: block;
        width: 10px;
        height: 10px;
        // background: url('/img/bgmask2.png') no-repeat center center @color1;
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        transform: rotate(45deg);
        z-index: 888;
        background: $color1;
    }
}

.testimonial-picture {
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 0 auto;
    img {
        width: 100%;
        @include border-radius(100%);
        border: 6px solid #ddd;
    }
}

.testimonial-firm {
    font-size: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
}

.owl-carousel {
    cursor: -webkit-grab; cursor: -moz-grab;
    &:focus {
        cursor: -webkit-grab; cursor: -moz-grab;
    }
    &:active {
    cursor: -webkit-grab; cursor: -moz-grab;
    }
    &:hover {
        cursor: -webkit-grab; cursor: -moz-grab;
    }
}
