//MEDIA-QUERIES
$full-hd: 1400px;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 240px;

//MAIN COLORS
$color1: #a25afa; 
$color2: #021533; 
$color3: #d9212a;
$color4: #333333;
$bgcolor: #fafafa;

$rgba1: rgba(0,0,0, 0.7);

//GENERAL
$main-color: $color1;
$text-color: #555;
$negative-color: #fff;
$contrast-section-bg: #f4f4f4;
$border-color: #ddd;
$overlay-opacity: 0.5;
$loader-bg: rgba(0, 0, 0, 0.99);

//FORMS
$placeholder-color: #999;
$input-bg: #fcfcfc;

//HEADER
$header-bg: $color4;
$header-color: $negative-color;
$header-color-hover: $color1;
$submenu-bg: #dddddd;
$submenu-color: #333333;
$topbar-bg: #ffffff;
$topbar-color: $color1;

//FOOTER
$footer-bg: $color4;
$footer-color: $negative-color;

//TABLES
$table-bg1: #dbdbdb;
$table-bg2: #f2f2f2;
$table-bg-hover: #cfcfcf;

//TABS
$tab-btn: #0e3d8b;
$tab-btn-active: #1c1949;

//ANIMATIONS
$header-animation: (0.2s);
